<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="indexre">
          <match url="^/?index\.html$" />
          <action type="Rewrite" url="core/index.php" />
        </rule>
		<rule name="contactre">
          <match url="^/?contact.html$" />
          <action type="Rewrite" url="core/contact.php" />
        </rule>
		<rule name="aboutre">
          <match url="^/?about-([0-9]+).html$" />
         <action type="Rewrite" url="core/about.php\?id={R:1}" />
        </rule>
		<rule name="messagere">
          <match url="^/?message.html$" />
         <action type="Rewrite" url="core/message.php" />
        </rule>

		<rule name="news list">
          <match url="^/?news-list-([0-9]+).html$" />
         <action type="Rewrite" url="core/news-list.php\?page={R:1}" />
        </rule>
		<rule name="news page">
          <match url="^/?news-([0-9]+).html$" />
          <action type="Rewrite" url="core/pview.php\?id={R:1}" />
        </rule>

		<rule name="equipment list">
          <match url="^/?equipment-list-([0-9]+)-([0-9]+).html$" />
         <action type="Rewrite" url="core/equipment-list.php\?type={R:1}&amp;page={R:2}" />
        </rule>
		<rule name="equipment page">
          <match url="^/?equipment-([0-9]+).html$" />
          <action type="Rewrite" url="core/pview.php\?id={R:1}" />
        </rule>

		<rule name="productlist">
          <match url="^/?product-list-([0-9]+)-([0-9]+).html$" />
         <action type="Rewrite" url="core/product-list.php\?type={R:1}&amp;page={R:2}" />
        </rule>
		<rule name="product page">
          <match url="^/?product-([0-9]+).html$" />
          <action type="Rewrite" url="core/pview.php\?id={R:1}" />
        </rule>
      </rules>
    </rewrite>
        <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
  </system.web>
</configuration>
